body {
    color: black;
    background-color:lightblue;
}

#minhaFoto {
    position: absolute;
    width: 400px;
    top: 60px;
    right: 30px;
    z-index: 1;
}

h1 {
 
 
}

#sumario {
    position: absolute;
    z-index: 2;
}


#conteudo {
    position: absolute;
    z-index: 3;
}